.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    font-size: x-large;
}

.link {
    text-decoration: none;
    color: black;
    margin-left: 2rem;
}

.link__active {
    color: black;
    margin-left: 2rem;
}

.navbar__home {
    color: black;
    text-decoration: none;
}

.navbar__home::hover {
    color: black;
    text-decoration: none;
}